<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="assets/effect/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/effect/aos/aos.js"></script>
  <script src="assets/effect/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/effect/glightbox/js/glightbox.min.js"></script>
  <script src="assets/effect/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/effect/swiper/swiper-bundle.min.js"></script>
  <script src="assets/effect/php-email-form/validate.js"></script>
  <script src="assets/js/main.js"></script>

  <style>
    
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

#footer{
    display: grid;
    margin-bottom: 0rem;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 1rem;
    background-color:rgba(44,81,132,255) ;
    letter-spacing: 1px;
    color: #e5cb9a;
    font-family: 'Tilt Neon', cursive;;
    font-weight: 800;
    max-width: 100%;
    margin:-8px -8px -8px -8px
}
#foottxt{
    margin:.8rem 0rem;
    /* font-weight: 400; */
}
#footer i{
    padding: .7rem .4rem;
}
.footitem{
    margin: .5rem 0rem;
}

.datetime {
    font-size: 0.7rem;
    padding: .5rem 0rem;
    color: #f8e8c9;
}

.items {
    /* background-color: blanchedalmond; */
    /* border:2px solid green; */
    color:#f9e1b4;
    margin: 0.34rem;
    font-size: 1.1rem;

}

  </style>
<footer>
  <div class="container" id="footer">
    <div class="items">SwissBank - Your Trusted Financial Partner
      <div class="datetime" id="foottxt">
        Your trusted source for financial solutions and secure banking services.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quod molestiae reiciendis consequatur incidunt quaerat quam totam optio expedita maiores.
      </div>
      <!-- Add social media icons or links specific to SwissBank -->
      <!-- Example:
      <i class="ri-facebook-box-line"></i>
      <i class="ri-instagram-line"></i>
      <i class="ri-github-fill"></i>
      <i class="ri-linkedin-box-line"></i>
      -->
      <div class="footitem datetime">&copy;2023 SwissBank. All rights reserved</div>
    </div>
    <div class="items">Explore SwissBank Services
      <div class="datetime">
        <div class="footitem">Personal Banking</div>
        <div class="footitem">Business Banking</div>
        <div class="footitem">Investment Solutions</div>
        <div class="footitem">Online Banking</div>
        <div class="footitem">Financial Planning</div>
      </div>
    </div>
    <div class="items">Useful Links
      <div class="datetime">
        <div class="footitem">Home</div>
        <div class="footitem">Accounts</div>
        <div class="footitem">Loans</div>
        <div class="footitem">About Us</div>
        <div class="footitem">Contact Us</div>
      </div>
    </div>
    <div class="items">Contact Information
      <div class="datetime">
        <div class="footitem">Address: 123 SwissBank Street, Banking City</div>
        <div class="footitem">Phone: +1-555-123-4567</div>
        <div class="footitem">Email: info@swissbank.com</div>
      </div>
    </div>
  </div>
</footer>
